h1{color: #fff}
h2{color: #993333}
h3{color: #fff}
h5{color: #993300}
body{background: url(images/background.jpg);
}


h1 {text-align:center;
	margin-left: 100px;

}

h2 {
 margin-left: 380px;
}
body {
	
		margin: 50px 100px;
		padding: 25px 50px 25px 50px;
}

p {
	text-align:center;
	color: #fff;
	
}


.wrap { 
    margin: 0  3%;
   
}

 article {
 	 width: 800px;
 	 height: 1500px;
 	 padding: 10px;
 	 margin-left: 100px;
 	 float: center;
 	 background: #f3f3f3;
 	 opacity: .9;
 	 position: center;
 	 
}

h5 { 
 	 clear: both;
 }
 
 img {
 	 width:330px;
 	 height: 330px;
 	 margin-left: 260px;
 	
 
}

h3 {
	padding: 40px;
}

video {
	margin-left: 190px;
	
}

.container1  {
	position: center;
	width:300px;
 	height: 300px;
}